#cardModal__chevronLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: white;
  left: 20px;
  z-index: 2;
}

#cardModal__chevronRight {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: white;
  right: 20px;
  z-index: 2;
}

#cardModal__cardDescription {
  line-height: normal;
  font-size: 18px;
}

#cardModal__noImagesText {
  min-height: 250px;
  justify-content: center;
  align-items: center;
}

#cardModal__tag {
  background-color: #c4d600;
  border-radius: 30px;
}

#cardModal__viewNotesBtn {
  color: #6d6e70;
  border: solid 1px #6d6e70;
  font-size: 22px;
  width: auto;
}

#cardModal__addToPlanBtn {
  color: white;
  font-size: 22px;
  width: auto;
}

#cardModal__addToPlanBtn:hover {
  background-color: #0690a7;
}

#cardModal__addToPlanBtn:active {
  background-color: #057b8f;
}

@media (max-width: 992px) {
  #cardModal__viewNotesBtn {
    font-size: 16px;
  }

  #cardModal__addToPlanBtn {
    font-size: 16px;
  }

  #cardModal__cardDescription {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #cardModal__viewNotesBtn {
    font-size: 12px;
  }

  #cardModal__addToPlanBtn {
    font-size: 12px;
  }

  #cardModal__cardDescription {
    font-size: 14px;
  }
}
